element.style {
}
@media (max-width: 900px) {
	.project-desciption {
		padding: 0;
		text-align: center;
	}
}

.mb-5 {
	margin-bottom: 3rem !important;
}
.col {
	flex: 1 0 0%;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-right: calc(var(--bs-gutter-x) / 2);
	padding-left: calc(var(--bs-gutter-x) / 2);
	margin-top: var(--bs-gutter-y);
}

.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(var(--bs-gutter-y) * -1);
	margin-right: calc(var(--bs-gutter-x) / -2);
	margin-left: calc(var(--bs-gutter-x) / -2);
}

.img-fluid {
	max-width: 100%;
	height: auto;
}
img,
svg {
	vertical-align: middle;
}
*,
::after,
::before {
	box-sizing: border-box;
}
user agent stylesheet img {
	overflow-clip-margin: content-box;
	overflow: clip;
}
.project-desciption {
	padding: 120px 60px;
}
*,
::after,
::before {
	box-sizing: border-box;
}
user agent stylesheet div {
	display: block;
	unicode-bidi: isolate;
}

:root {
	--branding-color: #6c63ff;
	--secondary-color: #f9f7fe;
	--heading-font-family: "Playfair Display", serif;
	--default-font-family: "Poppins", sans-serif;
}

body {
	font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: black;
	font-family: var(--heading-font-family);
	font-weight: bold;
}

h1 {
	font-size: 96px;
}

p {
	font-weight: normal;
	line-height: 30px;
	font-size: 16px;
}

.hero {
	background: var(--secondary-color);
	text-align: center;
	padding: 160px 20px;
}

.hero p {
	font-size: 24px;
	font-weight: normal;
	margin: 0;
	color: #272142;
}

.hero h2 {
	font-family: var(--heading-font-family);
	font-weight: bold;
	line-height: 2;
	font-size: 24px;
}

.btn-branding {
	background: var(--branding-color);
	border-radius: 4px;
	color: white;
	font-size: 18px;
	line-height: 27px;
	padding: 15px 30px;
}

footer {
	margin: 60px 0;
}

footer .contact-box {
	background: var(--secondary-color);
	padding: 30px 120px;
	border-radius: 10px;
}

footer .contact-box p {
	margin: 0;
}

footer .email-link {
	text-decoration: none;
	color: black;
	font-size: 24px;
}

footer .email-link:hover {
	color: var(--branding-color);
}

footer .social-links a {
	margin: 0 20px;
	color: var(--branding-color);
	background: var(--secondary-color);
	padding: 10px 14px;
	border-radius: 50%;
	font-size: 18px;
	transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
	color: white;
	background: var(--branding-color);
}
